.rickshaw_legend {
	color: #000;
	background: transparent;
  position: absolute;
  right: 0;
  margin-top: 10px;
	font-size: 12px;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#chart-y-axis-title,
#chart-x-axis,
#chart-x-axis-title,
#chart-title,
#chart-legend {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
