#chart {
  position: relative;
  left: 30px;
}

#chart-y-axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
}



/*#chart-snow-container {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

#chart-snow {
  position: relative;
  left: 40px;
}

#chart-snow-y-axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}

#chart-snow-legend {
	background-color: white;
	margin-left: 0;
	padding: 0;
	left: 0;
}

#chart-snow-legend .label {
	color: #404040;
}

#chart-snow-legend .action {
	color: black;
	opacity: 0.5;
}

#chart-snow-legend ul {
	padding: 0;
}

/*
.rickshaw_legend {
	font-size: 12px;
	color: #000;
	background: #fff;
	display: inline-block;
	padding: 12px 5px;
	border-radius: 2px;
	position: relative;
}
.rickshaw_legend:hover {
	z-index: 10;
}
.rickshaw_legend .swatch {
	width: 10px;
	height: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.rickshaw_legend .line {
	clear: both;
	line-height: 140%;
	padding-right: 15px;
}
.rickshaw_legend .line .swatch {
	display: inline-block;
	margin-right: 3px;
	border-radius: 2px;
}
.rickshaw_legend .label {
	margin: 0;
	white-space: nowrap;
	display: inline;
	font-size: inherit;
	background-color: transparent;
	color: inherit;
	font-weight: normal;
	line-height: normal;
	padding: 0px;
	text-shadow: none;
}
.rickshaw_legend .action:hover {
	opacity: 0.6;
}
.rickshaw_legend .action {
	margin-right: 0.2em;
	font-size: 10px;
	opacity: 0.2;
	cursor: pointer;
	font-size: 14px;
}
.rickshaw_legend .line.disabled {
	opacity: 0.4;
}
.rickshaw_legend ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 2px;
	cursor: pointer;
}
.rickshaw_legend li {
	padding: 0 0 0 2px;
	min-width: 80px;
	white-space: nowrap;
}
.rickshaw_legend li:hover {
	background: rgba(255, 255, 255, 0.08);
	border-radius: 3px;
}
.rickshaw_legend li:active {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}
