.slider.slider-horizontal {
  width: 100%;
}

.slider-handle.custom {
  background: transparent none;
}

.slider-tick.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '';
  color: #fff;
}

.slider-selection.tick-slider-selection {
  background-image: linear-gradient(to bottom, #ADD6FF 0%, #ADD6FF 100%);
}

.slider-tick.in-selection {
  background: none;
}

.slider-handle.custom::before {
  line-height: 20px;
  font-size: 40px;
  content: '\2744';
  color: #3399FF;
}

.summary_text{
  font-size: 20px;
}

#summary_title{
  font-size: 25px;
  color: #3399FF;
}

.summary_point{
  text-align: right;
  width: 200px;
}
