

#timeline .axis {
  font-size: 12px;
}

#timeline .axis path,
#timeline .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#timeline .x.axis path {
  display: none;
}

#timeline .line {
  fill: none;
  stroke: #1a1a1a;
  stroke-width: 1.5px;
}
